# This is Git's per-user configuration file.
[user]
name = Martin Miranda
email = martinmirandac@gmail.com

[alias]
	otherprofile = config user.email \"martin@otheremail.com\"

[core]
	excludesfile = ~/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RFX

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[push]
	default = current

[pull]
	ff = true

